* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.header-container {
  max-width: 100%;
  background-color: rgba(173, 216, 230, 255);
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

.header-col-dx,
.header-col-sx {
  width: 20%;
}

.header-col-center {
  width: 60%;
}

.header-content {
  background-color: rgba(218, 165, 32, 255);
  border: 1px dashed black;
  margin: 10px 0;
  padding: 5px;
}

.header-col-center > .header-content {
  text-align: center;
}

.header-col-dx > .header-content {
  text-align: end;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

/* MAIN */

.main-container {
  max-width: 100%;
}

div[class^="main-row"] {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.main-row-1 {
  background-color: rgba(0, 0, 139, 255);
}

.main-row-2 {
  padding: 0 25%;
}

.main-row-3 {
  padding: 0 25%;
  background-color: rgba(211, 211, 211, 255);
}

.main-row-4 {
  padding: 0 25%;
  background-color: rgba(211, 211, 211, 255);
}

.main-row-5 {
  padding: 0 25%;
  background-color: rgba(35, 39, 42, 255);
}

.main-col1 {
  margin: 18px auto;
  background-color: rgba(238, 130, 238, 255);
  width: 40%;
  height: 180px;
  border: 1px dashed black;
}

.main-col-dx2 {
  margin: 18px auto;
  background-color: rgba(30, 144, 255, 255);
  width: 65%;
  height: 200px;
  border: 1px dashed black;
}

.main-col-sx2 {
  margin: 18px auto;
  background-color: rgba(255, 192, 203, 255);
  width: 35%;
  height: 200px;
  border: 1px dashed black;
}

.main-col-dx3 {
  margin: 18px auto;
  background-color: rgba(255, 192, 203, 255);
  width: 35%;
  height: 200px;
  border: 1px dashed black;
}

.main-col-sx3 {
  margin: 18px auto;
  background-color: rgba(30, 144, 255, 255);
  width: 65%;
  height: 200px;
  border: 1px dashed black;
}

.main-col4 {
  margin: 18px auto;
  background-color: rgba(34, 139, 34, 255);
  width: 100%;
  height: 500px;
  border: 1px dashed black;
}

.main-col-5-red {
  margin: 5px auto 18px;
  background-color: rgba(240, 128, 128, 255);
  width: 40%;
  height: 300px;
  border: 1px dashed black;
}

.main-col-5 {
  margin: 5px auto 18px;
  background-color: rgba(32, 178, 170, 255);
  width: 15%;
  height: 300px;
  border: 1px dashed white;
}

/* FOOTER */

.footer-container {
  max-width: 100%;
  background-color: rgba(35, 39, 42, 255);
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  align-items: end;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 1px auto;
  background-color: rgba(127, 255, 212, 255);
  justify-content: space-between;
}

.footer-col1 {
  margin: 15px 0;
}

.footer-col2 {
  margin: 15px 0;
}

.footer-content {
  background-color: rgba(255, 182, 193, 255);
  border: 1px dashed black;
  padding: 4px;
}
